<a class="body__header__image" href="/">
	<img src="/images/logo.png">
</a>

<nav class="menu">
	<a class="menu__item<%= path === '/' ? '--active' : '' %>" href="/">
		<span class="menu__item__icon" >
			<i class="fa-duotone fa-home"></i>
		</span>
		<span class="menu__item__label" >Start</span>
	</a>
	<a class="menu__item<%= path === '/toolboard' ? '--active' : '' %>" href="/toolboard">
		<span class="menu__item__icon" >
			<i class="fa-duotone fa-tools"></i>
		</span>
		<span class="menu__item__label" >Toolboard</span>
	</a>
	<a class="menu__item<%= path === '/account' ? '--active' : '' %>" href="/account">
		<span class="menu__item__icon" >
			<i class="fa-duotone fa-user"></i>
		</span>
		<span class="menu__item__label" >Account</span>
	</a>
</nav>