/*
====================
Imports
*/
@import './form.style.css';
@import './card.style.css';
@import './menu.style.css';

/*
====================
Fonts
*/
@font-face {
	font-family: Medium;
	src: url('../fonts/FiraSans/FiraSans-Medium.ttf');
}

@font-face {
	font-family: Light;
	src: url('../fonts/FiraSans/FiraSans-Light.ttf');
}

@font-face {
	font-family: Extra Light Italic;
	src: url('../fonts/FiraSans/FiraSans-ExtraLightItalic.ttf');
}

@font-face {
	font-family: Book;
	src: url('../fonts/FiraSans/FiraSans-Light.ttf');
}

@font-face {
	font-family: Book Italic;
	src: url('../fonts/FiraSans/FiraSans-Light.ttf');
}

@font-face {
	font-family: Bold;
	src: url('../fonts/FiraSans/FiraSans-Bold.ttf');
}

@font-face {
	font-family: Regular;
	src: url('../fonts/FiraSans/FiraSans-Regular.ttf');
}

/*
====================
Variables
*/
:root {
	--font-size: 1em;
	--font-family: Regular, san-serif;
	--spacing: 1rem;


	--primary-color: #D4005B;

	--success-color: #22C55E;
	--info-color: #3B82F6;
	--warning-color: #F59E0B;
	--danger-color: #EF4444;

	--background: #F3F3F3;

	--body-padding: calc(((100vw - var(--max-screen-width)) / 2) + var(--spacing));
	--max-screen-width: 100%;

	--breakpoint-sm: 36rem;
	--breakpoint-md: 48rem;
	--breakpoint-lg: 62rem;
	--breakpoint-xl: 75rem;
	--breakpoint-xxl: 90rem;

	--heading-font: Medium, san-serif;
}

/*
====================
Default styling
*/
*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img, picture, svg, video {
	display: block;
	max-width: 100%;
	height: 100%;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
	color: var(--primary-color);
}

html,
body {
	height: 100%;
	font-size: var(--font-size);
	font-family: var(--font-family);
	background: var(--background);
	color: var(--text-color);
}

body {
	display: flex;
	flex-flow: column-reverse nowrap;
}

body > header,
body > footer {
	flex: 0 1 auto;
}

body > main {
	flex: 1 1 auto;
	overflow: auto;
}

.body__header {
	display: flex;
}

.body__header__image {
	display: none;
	height: 5em;
	background: white;
	padding-inline: var(--body-padding) 2.5em;
	border-bottom-right-radius: 2.5em;
	position: relative;
	z-index: 2;
}

.main__header,
.main__content {
	padding: var(--spacing) var(--body-padding);
}

.main__content {
	display: flex;
	flex-flow: column nowrap;
	gap: var(--spacing);
}

.main__header {
	background: white;
}

.partners {
	overflow-x: hidden;
}

.principes,
.partners {
	display: flex;
	flex-flow: column nowrap;
	gap: 1em;
}

.principes__header,
.partners__header {

}

.toolboard-menu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1em;
}

.toolboard-menu__item,
.toolboard-menu__item--active {
	display: flex;
	flex-flow: column nowrap;
	background: white;
	padding: 1em;
	border-radius: 1em;
	text-decoration: none;
	color: inherit;
	aspect-ratio: 1/1;
}

.toolboard-menu__item--active {
	color: var(--primary-color);
}

.toolboard-menu__item * {
	text-align: center;
}

.toolboard-menu__item__icon {
	flex: 1;
	font-size: 5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.principes__content,
.partners__content {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 1em;
}

@media (min-width: 36rem) {
	:root {
		--max-screen-width: var(--breakpoint-sm);
	}
}

@media (min-width: 48rem) {
	:root {
		--max-screen-width: var(--breakpoint-md);
	}

	.principes__content,
	.partners__content {
		grid-template-columns: repeat(2, 1fr);
	}

	.toolboard-menu {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 62rem) {
	:root {
		--max-screen-width: var(--breakpoint-lg);
	}

	body {
		flex-flow: column nowrap;
	}

	.body__header__image {
		display: block;
	}

	.main__header {
		background: transparent;
	}

	.principes__content,
	.partners__content {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (min-width: 75rem) {
	:root {
		--max-screen-width: var(--breakpoint-xl);
	}

	.principes__content,
	.partners__content {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (min-width: 90rem) {
	:root {
		--max-screen-width: var(--breakpoint-xxl);
	}
}
