.main__content.main__content--startpage {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
}

@media (min-width: 48rem) {
	.main__content.main__content--startpage {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (min-width: 62rem) {
	.main__content.main__content--startpage {
		grid-template-columns: repeat(3, 1fr);
	}
}