<article class="card">
	<header class="card__header">
		<h2>Pagin toevoegen</h2>
	</header>

	<div class="card__content">
		<form method="post">
			<input type="hidden" name="websiteId" value="<%= partner.id %>" required>

			<fieldset>
				<label for="url">Pagina URL</label>
				<input type="url" name="url" required>
			</fieldset>

			<fieldset>
				<input type="submit" value="Opslaan">
			</fieldset>
		</form>
	</div>
</article>