<section class="principes">
	<header class="principes__header">
		<h2>Principes</h2>
	</header>

	<div class="principes__content">
		<% for (let principe of principes) { %>
			<article class="card">
				<header class="card__header">
					<h3><%- principe.titel %></h3>
				</header>

				<div class="card__content">
					Een principe
				</div>
			</article>
		<% } %>
	</div>
</section>

