<header class="main__header">
	<h1>Start</h1>
</header>

<div class="main__content main__content--startpage">
	<article class="card">
		<header class="card__header">
			<h2>Toolboard</h2>
		</header>

		<div class="card__content">
			<p>Ga naar onze toolboard.</p>
		</div>

		<footer class="card__footer">
			<a class="button button--text" href="/toolboard">
				<span class="button__label">Naar Toolboard</span>
				<span class="button__icon">
					<i class="fa-regular fa-arrow-right"></i>
				</span>
			</a>
		</footer>
	</article>
</div>