<header class="main__header">
	<h1>Start</h1>
</header>

<div class="main__content main__content--startpage">
	<header class="main__content__header">
		<h2 class="main__content__header__title">
			<span class="main__content__header__title__text">Welkom bij</span>
			<span class="main__content__header__title__text main__content__header__title__text--veryveryimportant">Toolgankelijk</span>
		</h2>
	</header>

	<div class="main__content__content">
		<section class="section">
			<header class="section__header">
				<h2>Maak kennis met</h2>
			</header>

			<div class="section__content">
				<article class="card">
					<header class="card__header">
						<h3>Toolboard</h3>
					</header>

					<div class="card__content">
						<p>Ga naar onze toolboard.</p>
					</div>

					<footer class="card__footer">
						<a class="button button--text" href="/toolboard">
							<span class="button__label">Naar Toolboard</span>
							<span class="button__icon">
								<i class="fa-regular fa-arrow-right"></i>
							</span>
						</a>
					</footer>
				</article>
			</div>
		</section>
	</div>

</div>