<% if(messages.length > 0) { %>
	<div class="messages">
		<% for(let message of messages) { %>
			<article class="message message--<%= message.type %>">
				<header class="message__header">
					<h3><%- message.title %></h3>

					<button class="button button--transparent message__header__button">
						<span class="button__icon">
							<i class="fa-regular fa-xmark"></i>
						</span>
					</button>
				</header>

				<div class="message__content">
					<p><%- message.detail %></p>
				</div>
			</article>
		<% } %>
	</div>
<% } %>
