<nav class="toolboard-menu">
	<a class="toolboard-menu__item" href="/toolboard/principes">
		<span class="toolboard-menu__item__icon">
			<i class="fa-duotone fa-universal-access"></i>
		</span>
		<span class="toolboard-menu__item__label">Principes</span>
	</a>
	<a class="toolboard-menu__item" href="/toolboard/partners">
		<span class="toolboard-menu__item__icon">
			<i class="fa-duotone fa-handshake"></i>
		</span>
		<span class="toolboard-menu__item__label">Partners</span>
	</a>
</nav>